<h1>Registrar usuario</h1>

<form action="/api/session/register" method="post">
    <label >Nombre</label> <input type="text" name="firstName"/> <br><br>
    <label >Apellido</label> <input type="text" name="lastName"/> <br><br>
    <label >Edad</label> <input type="number" name="age"/> <br><br>
    <label >Password</label> <input type="password" name="password"/> <br><br>
    <label >Email</label> <input type="email" name="email"/> <br><br>
    <button type="submit">Registrar</button>
</form>