<h1>Reestablecer contraseña</h1>

<h4>Le enviaremos un mail para reestablecer su contraseña</h4>

<form action="/api/session/resetpassword" method="post">
    <label for="">Email</label><input type="email" name="email" > <br> <br>
    <button type="submit">Enviar </button>
</form>
